<!Doctype html>

<html>
    <head>
        <title>Meet the Solar System!</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body ng-app="solar">
        <header>
            <h1>Meet the Solar System!</h1>
            <h4>By Elena Kogodeeva</h4>
        </header>
        <section class="diagramm" ng-controller="diagram">
            <ul class="filters">
                <li><label>Mercury</label> <input type="checkbox"  ng-click="includePlanet('Mercury')" /></li>
                <li><label>Venus</label> <input type="checkbox"  ng-click="includePlanet('Venus')" /></li>
                <li><label>Earth</label> <input type="checkbox"  ng-click="includePlanet('Earth')" /></li>
                <li><label>Moon</label> <input type="checkbox"  ng-click="includePlanet('Moon')" /></li>
                <li><label>Mars</label> <input type="checkbox"  ng-click="includePlanet('Mars')" /></li>
                <li><label>Jupiter</label> <input type="checkbox"  ng-click="includePlanet('Jupiter')" /></li>
                <li><label>Saturn</label> <input type="checkbox"  ng-click="includePlanet('Saturn')" /></li>
                <li><label>Uranus</label> <input type="checkbox"  ng-click="includePlanet('Uranus')" /></li>
                <li><label>Neptune</label> <input type="checkbox"  ng-click="includePlanet('Neptune')" /></li>
                <li><label>Pluto</label> <input type="checkbox"  ng-click="includePlanet('Pluto')" /></li>                             
            </ul>
            <div class="diagram-wrap" ng-view></div>
        </section>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
        <script src="https://code.angularjs.org/1.5.5/angular.min.js"></script>
        <script src="https://code.angularjs.org/1.5.5/angular-route.min.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/controller.js"></script>
    </body>
</html>