<!Doctype html>

<html>
    <head>
        <title>Meet the Solar System!</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body ng-app="solar">
        <header>
            <h1>Meet the Solar System!</h1>
            <h4>By Elena Kogodeeva</h4>
        </header>
        <section class="diagramm" ng-controller="diagram">
            <div class="filters">
<!--
                <ul>
                    <li ng-repeat="name in names"><label for="{{name}}-chbx">{{name}}></label> <input id="{{name}}-chbx" type="checkbox" ng-click="includePlanet("'{{name}}'")" /></li>
                </ul>
-->

                Venus <input type="checkbox"  ng-click="includePlanet('Venus')" /><br>
                Mercury <input type="checkbox"  ng-click="includePlanet('Mercury')" /><br>
                Earth <input type="checkbox"  ng-click="includePlanet('Earth')" /><br>

            </div>
            <div class="diagram-wrap">
                <div class="column" ng-repeat="name in names | filter:planetFilter">
                    <label>{{name}}</label>
                </div>
            </div>
        </section>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
        <script src="scripts/app.js"></script>
    </body>
</html>