body {
    margin:0;
    padding:0;
    font-family: sans-serif, Arial;
}

header {
    background: #333;
    color: #fff;
    padding: 20px;
}

header a {
    color: #fff;
    padding: 0 10px 0 0;
}

.diagram-wrap {
	float: left;
    margin-left: 20px;
}

.column label {
	display:block;
}

.diagramm .column {
    float: left;
    padding: 5px;
    height: 500px;
    width: 70px;
    text-align: center;
	position: relative;
}

.filters {
    float: left;
    width: 15%;
    min-width: 150px;
}

.filters label {
    width: 40%;
    display: inline-block;
}

.filters li {
    list-style-type: none;
    position: relative
}

.filters input {
    position:absolute;
    right:0;
}


.cube {
    background: #333;
    width: 87%;
    position: absolute;
    bottom: -50px;
}
