body {
    margin:0;
    padding:0;
    font-family: sans-serif, Arial;
}

header {
    background: #333;
    color: #fff;
    padding: 20px;
}

.diagramm .column {
    float: left;
    padding: 20px;
}

.filters {
    float: left;
    width: 15%;
    min-width: 150px;
}

.filters label {
    width: 40%;
    display: inline-block;
}

.filters li {
    list-style-type: none;
    position: relative
}

.filters input {
    position:absolute;
    right:0;
}
